<!DOCTYPE html>
<html>
<head>
    <title>Adicionar Voluntário</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Adicionar Voluntário</h1>
        <form action="{{ url_for('adicionar') }}" method="POST">
            <label>Nome:</label>
            <input type="text" name="nome" required>
            <label>Email:</label>
            <input type="email" name="email" required>
            <label>Telefone:</label>
            <input type="text" name="telefone" required>
            <label>Atividade:</label>
            <input type="text" name="atividade" required>
            <input type="submit" value="Adicionar">
        </form>
        <a href="{{ url_for('index') }}" class="return-link">Voltar</a>
    </div>
</body>
</html>
